
@import url(https://fonts.google.com/specimen/Roboto#standard-styles);


/*Adding these properties to the whole page to get every element aligned properly*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    font-family: 'Roboto', sans-serif; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
    background-color: #ffd700; /* Banana Yellow */
    color: #4b2e0a; /* Brown */
    flex: 1;
}

.logo {
    display: flex;
    font-size: 24px;
}

ul {
    display: flex;
    flex: 1;
    list-style-type: none;
    padding: 0;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #4b2e0a; /* Brown */
}

.hero-container {
    display: flex;
    padding: 64px 20%;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd700; /* Banana Yellow */
    gap: 128px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: #4b2e0a; /* Brown */
    font-size: 18px;    
}

.hero-container h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #4b2e0a; /* Brown */
}

p {
    margin: 8px 0;
}

button {
    background-color: #ff8c00; /* Dark Orange */
    color: #ffffff; /* White */
    border-radius: 8px;
    width: 150px;
    margin-top: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 8px 0;
}

.img-container {
    display: flex;
}

.img-container img{
    width: 500px;
    max-height: auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 20%;
}

.info-container h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #ffd700; /* Banana Yellow */
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
}

.info-content {
    display: flex;
    text-align: center;
    gap: 32px;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}

.empty-box {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    height: 170px;
    width: 170px;
    border-style: solid;
    border-radius: 8px;
    color: #ffd700; /* Banana Yellow */
}

.empty-box p {
    margin: 0; /* Remove default margin */
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 256px 20%;
    background-color: #fffacd; /* Lemon Chiffon */
}

.quote-container p {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    color: #ffd700; /* Banana Yellow */
}

#quote-credit {
    text-align: right;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
}

.cta-section {
    padding: 64px 20%;
}

.cta-container {
    background-color: #ff8c00; /* Dark Orange */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 32px 80px;
}

.cta-container h1 {
    color:#ffffff; /* White */
    margin: 0;
}

.cta-container p {
    color:#ffd700; /* Banana Yellow */
    margin: 0;
}

.cta-container button {
    margin: 0;
    border-color: #ffffff; /* White */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd700; /* Banana Yellow */
    color:#4b2e0a; /* Brown */
    padding: 32px 0;
}

